{% extends 'base.html' %}

{% block content %}


<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-11">
                <div class="card">
                    <div class="card-header" style="background-color: #79baf0">
                        <strong class="card-title">添加角色</strong>
                    </div>
                    <div class="card-body card-block">
                        <form action="/role/add" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <!-- name -->
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="name-input" class=" form-control-label">角色名称</label>
                                </div>
                                <div class="col-6 col-md-7">
                                    <input type="text" id="name" name="name" class="form-control">
                                </div>
                            </div>
                            <!-- remarks -->
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="remarks" class=" form-control-label">备注</label>
                                </div>
                                <div class="col-6 col-md-7">
                                    <input type="text" id="remarks" name="remarks" class="form-control">
                                </div>
                            </div>

                            <!-- if -->
                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">添加角色权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="if_role" class="form-check-label ">
                                                <input type="radio" id="if_role" name="if_role" value=Ture class="if_role form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="if_role" class="form-check-label ">
                                                <input type="radio" id="if_role" name="if_role" value=False class="if_role form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">添加设备权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_add_equipment" value=Ture class="if_add_equipment form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_add_equipment" value=False class="if_add_equipment form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">修改设备权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_modify_equipment" value=Ture class="if_modify_equipment form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_modify_equipment" value=False class="if_modify_equipment form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">删除设备权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_drop_equipment" value=Ture class="if_drop_equipment form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_drop_equipment" value=False class="if_drop_equipment form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">添加子账号权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_add_child" value=Ture class="if_add_child form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_add_child" value=False class="if_add_child form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">修改子账号权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_modify_child" value=Ture class="if_modify_child form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_modify_child" value=False class="if_modify_child form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label class=" form-control-label">删除子账号权限</label></div>
                                <div class="col col-md-9">
                                    <div class="form-check">
                                        <div class="radio" style="display: inline-block;">
                                            <label for="radio1" class="form-check-label ">
                                                <input type="radio" id="radio1" name="if_drop_child" value=Ture class="if_drop_child form-check-input">是
                                            </label>
                                        </div>
                                        <div class="radio" style="display: inline-block; margin-left: 20%;">
                                            <label for="radio2" class="form-check-label ">
                                                <input type="radio" id="radio2" name="if_drop_child" value=False class="if_drop_child form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class='col-md-6 offset-md-3'>
                                <br><br>
                                <button type="button" id='submit' onclick="Roleadd()" class="btn btn-primary btn-lg btn-block">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script>
    function Roleadd() {

	    document.getElementById("submit").disabled=false;

        let name = document.getElementById('name').value;
        let remarks = document.getElementById('remarks').value;

        let if_role = document.getElementsByClassName('if_role');
        if(if_role[0].checked == true){if_role = true}
        else{if_role = false}

        let if_add_equipment = document.getElementsByClassName('if_add_equipment');
        if(if_add_equipment[0].checked == true){if_add_equipment = true}
        else{if_add_equipment = false}

        let if_modify_equipment = document.getElementsByClassName('if_modify_equipment');
        if(if_modify_equipment[0].checked == true){if_modify_equipment = true}
        else{if_modify_equipment = false}

        let if_drop_equipment = document.getElementsByClassName('if_drop_equipment');
        if(if_drop_equipment[0].checked == true){if_drop_equipment = true}
        else{if_drop_equipment = false}

        let if_add_child = document.getElementsByClassName('if_add_child');
        if(if_add_child[0].checked == true){if_add_child = true}
        else{if_add_child = false}

        let if_modify_child = document.getElementsByClassName('if_modify_child');
        if(if_modify_child[0].checked == true){if_modify_child = true}
        else{if_modify_child = false}

        let if_drop_child = document.getElementsByClassName('if_drop_child');
        if(if_drop_child[0].checked == true){if_drop_child = true}
        else{if_drop_child = false}

        name = name == '' ? null : name;
        remarks = remarks == '' ? null : remarks;


        $.ajax({
            url: '/role/add',    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                name,
                remarks,
                if_role,
                if_add_equipment,
                if_modify_equipment,
                if_drop_equipment,
                if_add_child,
                if_modify_child,
                if_drop_child
            },    //参数值,键值对
            type: "POST",   //请求方式
            beforeSend: function () {
                //请求前的处理
            },
            success: function (data) {
                //请求成功时处理
                if (data['msg'] == 'success') {
                    alert('添加成功')
                    window.location.href="/role/show";
                } else {
                    alert('添加失败')
                }
            },
            complete: function () {
                //请求完成的处理
	            document.getElementById("submit").removeAttr("disabled");
            },
            error: function () {
                //请求出错处理
                alert('请检查网络...')
            }
        });
    }
</script>
{% endblock %}