{% extends 'base.html' %}

{% block content %}
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="card-header" style="background-color: #79baf0">
                        <strong class="card-title">角色管理</strong>
                        <a href="/role/add">
                            <button type="button" class="float-right btn btn-outline-primary btn-sm">
                                    <i class="fa fa-plus"></i>
                                    &nbsp; 添加角色
                            </button>
                        </a>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope='col' >#</th>
                                    <th>角色名称</th>
                                    <th>备注</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for role in roles %}
                                <tr>
                                    <td scope='row'>{{ loop.index }}</td>
                                    <td>{{role.name}}</td>
                                    <td>{{role.remarks}}</td>
                                    <td>{{role.create_time}}</td>
                                    <td><a href="./show/{{ role.id }}">修改</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
{% endblock %}
