{% extends 'gov/base.html' %}

{% block content %}
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header" style="background-color: #ffff00">
                                <strong class="card-title">报警记录</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="display: none">设备ID</th>
                                            <th style="display: none">报警ID</th>
                                            <th style="display: none">设备管理员ID</th>
                                            <th>设备名称</th>
                                            <th>使用单位</th>
                                            <th>设备位置</th>
                                            <th>故障类型</th>
                                            <th>报警日期</th>
                                            <th>联系人</th>
                                            <th>联系电话</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                {% for a in alarm_records %}
                                    <tr>
                                        <td scope='row'>{{ loop.index }}</td>
                                        <td style="display: none;">{{ a.e_id }}</td>
                                        <td style="display: none">{{ a.alarm_id }}</td>
                                        <td style="display: none">{{ a.admin_id}}</td>
                                        <td>{{ a.e_name or '' }}</td>
                                        <td>{{ a.admin_name or '' }}</td>
                                        <td>{{ a.e_location or '' }}</td>
                                        <td>{{ a.class_ or '' }}</td>
                                        <td>{{ a.alarm_time }}</td>
                                        <td>{{ a.contact or '' }}</td>
                                        <td>{{ a.contact_tel or '' }}</td>
                                    </tr>
                                {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div><!-- .animated -->
{% endblock %}  

{% block js %}

{% endblock %}