{% extends 'gov/base.html' %}

{% block style %}
<style>
    .amap-icon img,
    .amap-marker-content img{
        width: 45px;
        height: 45px;
    }
    /*label的样式*/
    .amap-marker-label{
        position: absolute;
        z-index: 2;
        border: 1px solid #ccc;
        background-color: white;
      　white-space: nowrap;
      　cursor: default;
      　padding: 3px;
      　font-size: 12px;
      　line-height: 14px;
    }
</style>
{% endblock %}

{% block content %}
        <div class="animated fadeIn">

             <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="Vector-map-js">
                            <div id="vmap" class="vmap" ></div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->


        </div><!-- .animated -->

{% endblock %}


{% block js %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=efb66f1d0e0a897af3702fdb233c0812"></script>

<script type="text/javascript">
    let height = (window.innerHeight*0.75).toString()+'px';
    document.getElementById('vmap').style.height = height;

    window.onresize=function(){  
      let height = (window.innerHeight*0.75).toString()+'px';
      document.getElementById('vmap').style.height = height; 
    }



</script>


<script>
    //  地图对象
    let gaode_longitude = {{ base.gaode_longitude }}
    let gaode_latitude = {{ base.gaode_latitude }}
    var map = new AMap.Map('vmap',
            {
                center:[ gaode_longitude , gaode_latitude],
                // 缩放度
                zoom:12
            }
    );
    // 设备列表
    var positions = [ 
            {% for e in equipments %}
            [
                { 'lng': {{ e.gaode_longitude }},  // 经度
                  'lnt': {{ e.gaode_latitude }},    // 维度
                  'state': '001',   // 状态，根据状态调图片
                  'eid': '{{ e.id }}',
                  'e_name':'{{ e.name }}',
                  'use_department':'{{ use_department }}',
                  'info':[]
                }
            ],
            {% endfor %}
        ]
    // 标注列表
    var markers = [];
    if (positions.length) {
       for(var i=0; i < positions.length; i += 1){
           var pictures =  {'001':'/static/img/mapPoint/blue.png', '102':'/static/img/mapPoint/yellow.png', '101':'/static/img/mapPoint/red.png'};  // 标点图片
           var marker = new AMap.Marker({
                      // 经纬度
                  position:[positions[i][0]['lng'], positions[i][0]['lnt']],
                  // 图片
                  icon: pictures[positions[i][0]['state']],
                  // 偏移量
                  offset: new AMap.Pixel(-13, -36),
                  // 设置是否可拖拽
                  draggable: false,
            });
            // 设置点标记的动画效果，此处为弹跳效果
            marker.setAnimation('AMAP_ANIMATION_BOUNCE');

            //　将点标记的信息录入对象中
            positions[i][0]['info'][0] = "<dt>设备名称:"+positions[i][0]['e_name']+"</dt>"
            positions[i][0]['info'][1] = "<dt>使用单位:"+positions[i][0]['use_department']+"</dt>"
            positions[i][0]['info'][2] = "<dt>设备状态:正常</dt>"
            positions[i][0]['info'][3] = ""
            // 给点标记增加点击功能
            marker.on('click', function(e){
                var lng = e.lnglat.getLng()
                var lnt = e.lnglat.getLat()
                //　判断点击的是哪个点标记
                for (let i = 0 ; i < positions.length ; i++) {
                    //　点坐标范围内有效 lng[0, 0.02]  lnt[0, 0.02]
                  if (lng <= (positions[i][0]['lng']+0.02) && lng >= positions[i][0]['lng']  && lnt <= (positions[i][0]['lnt'] +0.02) &&  lnt >= positions[i][0]['lnt']  ) {
                    // 读取点标记信息
                    var info = positions[i][0]['info'][0]+positions[i][0]['info'][1]+positions[i][0]['info'][2]+positions[i][0]['info'][3]
                    // 显示 label
                    positions[i][1].setLabel({
                        offset: new AMap.Pixel(20, 20),  //设置文本标注偏移量
                        content: "<div class='info' >"+info+"</div>", //设置文本标注内容
                        direction: 'right' //设置文本标注方位
                    });
                  }
                }
            });

            markers.push(marker);
            positions[i].push(marker)

           //　给地图增加点击功能
            map.on('click', function(e){
            for (let i = 0 ; i < positions.length ; i++) {
                // 重置 label
                positions[i][1].setLabel({
                    offset: new AMap.Pixel(20, 20),  //设置文本标注偏移量
                    content: "", //设置文本标注内容
                    direction: 'right' //设置文本标注方位
                });
            }
            });
                
        }
        map.add(markers);

    }

    // 标点显示自适应
    map.setFitView();


    // 选择地区
    function changeDistrict(e) {
        let gaode_center = e.getAttribute("gaode_center");
        gaode_center = gaode_center.split(',')
        let gaode_longitude = parseFloat(gaode_center[0])
        let gaode_latitude = parseFloat(gaode_center[1])

        var zoom = 12;
        map.setZoomAndCenter(zoom, [gaode_longitude, gaode_latitude]); //同时设置地图层级与中心点

    }

    // socket
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function(data) {
        console.log('--> Client connect successed', data)
    });
    // 报警
    socket.on('report', function(data, callback) {
        console.log(data);
        let eid = data['reporter']
        var nowtime = data.datetime
        // 更改点标记
        if (data.code == '101') {
            for (let i = 0 ; i < positions.length ; i++) {
                if (positions[i][0]['eid'] == eid) {
                    // 将对象中的信息更新
                    positions[i][0]['info'][2] = "<dt>设备状态:故障</dt>"
                    positions[i][0]['info'][3] = "<dt>更新时间:"+nowtime+"</dt>"
                    positions[i][1].setIcon('/static/img/mapPoint/red.png')
                }
            }
        } else if (data.code == '102'){
            for (let i = 0 ; i < positions.length ; i++) {
                if (positions[i][0]['eid'] == eid) {
                    // 将对象中的信息更新
                    positions[i][0]['info'][2] = "<dt>设备状态:报警</dt>"
                    positions[i][0]['info'][3] = "<dt>更新时间:"+nowtime+"</dt>"
                    positions[i][1].setIcon('/static/img/mapPoint/yellow.png')
                }
            }
        } else if (data.code.startsWith('0')) {
            for (let i = 0 ; i < positions.length ; i++) {
                if (positions[i][0]['eid'] == eid) {
                    // 将对象中的信息更新
                    positions[i][0]['info'][2] = "<dt>设备状态:正常</dt>"
                    positions[i][0]['info'][2] = "<dt>更新时间:"+nowtime+"</dt>"
                    positions[i][1].setIcon('/static/img/mapPoint/blue.png')
                }
            }
        }

        callback(1)
    })
    socket.on('join', function(data, callback) {
        console.log(data)
        
    })
    socket.on('jump', function(data, callback) {
        console.log(data)
        callback(1)
    })


</script>

{% endblock %}