{% extends 'base.html' %}

{% block content %}

<div class="animated fadeIn">
    <div class="row">

        <div class="col-md-11">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">添加设备</strong>
                </div>
                <div class="card-body card-block">
                    <form action="/equipment/" method="post" enctype="multipart/form-data" class="form-horizontal">


                        <!-- SIM_id -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="SIM_id" class=" form-control-label">SIM卡号</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="SIM_id" name="SIM_id" class="form-control">
                            </div>
                        </div>
                        <!-- name -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="name-input" class=" form-control-label">设备名称</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="name" name="name" class="form-control">
                            </div>
                        </div>
                        <!-- status -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="name-input" class=" form-control-label">设备名称</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <select name="select" id="class_" class="form-control">
                                    <option value="正常" selected>正常</option>
                                    <option value="故障">故障</option>
                                    <option value="报警">报警</option>
                                </select>
                            </div>
                        </div>
                        <!-- use_department -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="use_department"
                                    class=" form-control-label">使用单位</label></div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="use_department" name="use_department" class="form-control">
                            </div>
                        </div>

                        <!-- class_ -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="class_" class=" form-control-label">系统类型</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <select name="class_" id="class_" class="form-control">
                                    <option value="消防">消防</option>
                                    <option value="电气">电气</option>
                                    <option value="反控">反控</option>
                                </select>   
                            </div>
                        </div>


                        <!-- model -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="model" class=" form-control-label">型号</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="model" name="model" class="form-control">
                            </div>
                        </div>

                        <!-- 位置 -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="location" class=" form-control-label">设备地址</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="location" name="location" class="form-control">
                            </div>
                        </div>

                        <!-- gaode_location -->
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="gaode_location" class=" form-control-label">经纬度</label>
                            </div>
                            <div class="col-6 col-md-7">
                                <input type="text" id="gaode_location" disabled="true" name="gaode_location" class="form-control">
                                <div id='map' style="height: 300px;"></div>
                            </div>
                        </div>

                        <div class='col-md-6 offset-md-3'>
                            <br><br>
                            <button type="button" id='submit' onclick="addEquipment()" class="btn btn-primary btn-lg btn-block">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div><!-- .animated -->

<script>
    function addEquipment() {

	    document.getElementById("submit").disabled=false;

        let name = document.getElementById('name').value;
        let class_ = document.getElementById('class_').value;
        let use_department = document.getElementById('use_department').value;
        let location = document.getElementById('location').value;
        let model = document.getElementById('model').value;
        let gaode_location = document.getElementById('gaode_location').value
        let status = $('#class_ option:selected').val();

        name = name == '' ? null : name;
        class_ = class_ == '' ? null : class_;
        use_department = use_department == '' ? null : use_department;
        location = location == '' ? null : location;
        model = model == '' ? null : model;
        gaode_location = gaode_location == '' ? null : gaode_location;

        if (!name || !class_ || !use_department || !gaode_location || !gaode_location.indexOf(',')) {
            alert('请完善信息！')
            return
        }

        $.ajax({
            url: '/equipment/?child={{ child }}',    //请求的url地址
            dataType: "json",   //返回格式为json
            async: true,//请求是否异步，默认为异步，这也是ajax重要特性
            data: {
                name,
                use_department,
                location,
                class_,
                model,
                gaode_location,
                status
            },    //参数值,键值对
            type: "POST",   //请求方式
            beforeSend: function () {
                //请求前的处理
            },
            success: function (data) {
                //请求成功时处理
                if (data['msg'] == 'success') {
                    alert('添加成功')
                    window.location.href="/equipment/show?{{child}}";
                } else {
                    alert('添加失败')
                }
            },
            complete: function () {
                //请求完成的处理
	            document.getElementById("submit").removeAttr("disabled");
            },
            error: function () {
                //请求出错处理
                alert('请检查网络...')
            }
        });
    }
</script>

{% endblock %}

{% block js %}

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=efb66f1d0e0a897af3702fdb233c0812"></script>

<script type="text/javascript">
    var map = new AMap.Map('map',{
        zoom: 10,  //设置地图显示的缩放级别
        resizeEnable: true,
        // center: [116.397428, 39.90923],//设置地图中心点坐标
        lang:'zh_cn',  //设置地图语言类型
    });

    //为地图注册click事件获取鼠标点击出的经纬度坐标
    var clickEventListener = map.on('click', function(e) {
        document.getElementById("gaode_location").value = e.lnglat.getLng() + ',' + e.lnglat.getLat();

        if (marker) {
            marker.setMap(null);
            marker = null;
        }
        addMarker(e.lnglat.getLng(),e.lnglat.getLat());
    });


    var marker;
    // 实例化点标记
    function addMarker(lng,lat) {
        marker = new AMap.Marker({
            icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
            position: [lng, lat]
        });
        marker.setMap(map);
    }

 
</script>

{% endblock %}