{% extends 'base.html' %}

{% block content %}

<div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color: #79baf0;">
                        <strong class="card-title">设备列表</strong>
                        <a href="/equipment/show/add?child={{ child }}">
                            <button type="button" class="float-right btn btn-outline-primary btn-sm">
                                <i class="fa fa-plus"></i>
                                &nbsp; 添加设备
                            </button>
                        </a>
                        &nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="card-body">


                        <div id="qrpanel" style="display: none" class="sufee-alert alert with-close alert-info alert-dismissible fade show">
                            <div id="qrcode"></div>
                            <button type="button" class="close">
                                <span aria-hidden="false" onclick="hideQR()">×</span>
                            </button>
                        </div>

                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope='col' >#</th>
                                    <th scope='col' style="display: none;">id</th>

                                    <th scope='col' >SIM_id</th>
                                    <th scope='col' >设备名称</th>
                                    <th scope='col' >状态</th>
                                    <th scope='col' >使用单位</th>
                                    <th scope='col' >系统类型</th>
                                    <th scope='col' >型号</th>
                                    <th scope='col' >联系人</th>
                                    <th scope='col' >联系电话</th>
                                    <th scope='col' >设备地址</th>
                                    <th scope='col' >安装时间</th>
                                    <th scope='col' >操作</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                {% for equipment in equipments %}
                                    <tr>
                                        <td scope='row'>{{ loop.index }}</td>
                                        <td style="display: none;">{{ equipment.id }}</td>

                                        <td>{{ equipment.SIM_id or '' }}</td>
                                        <td>{{ equipment.name or '' }}</td>
                                        <td>{{ equipment.status or '' }}</td>
                                        <td>{{ equipment.use_department or '' }}</td>
                                        <td>{{ equipment.class_ or '' }}</td>
                                        <td>{{ equipment.model or '' }}</td>
                                        <td>{{ equipment.contact or '' }}</td>
                                        <td>{{ equipment.contact_tel or '' }}</td>
                                        <td>{{ equipment.location or '' }}</td>
                                        <td>{{ equipment.create_time or '' }}</td>
                                        <td>
                                            <a href="./control?eid={{ equipment.id }}">控制</a>
                                            <a href="./show/{{ equipment.id }}">修改</a>
                                            <a href="#" onclick="drop('{{ equipment.id }}')">删除</a>
                                            <a href="#" onclick="showQR('{{ equipment.id }}')">二维码</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->

{% endblock %}

{% block js %}

    <script src="/static/assets/js/qrcode.min.js"></script>
    <script>
        function showQR(eid) {
            var pathName = window.document.location.pathname;
            var curWwwPath = window.document.location.href;
            var pos = curWwwPath.indexOf(pathName);
            var localhostPaht=curWwwPath.substring(0,pos);
            $("#qrcode").html("")
            var qr = new QRCode(document.getElementById('qrcode'));
            qr.clear();
            qr.makeCode(localhostPaht + '/monitor/reportOnPhone?eid=' + eid);
            $("#qrcode").css("margin", "auto")
            $("#qrcode").css("width", "296px")
            $("#qrpanel").css("display", "block")
        }

        function hideQR() {
            $("#qrpanel").css("display", "none")
        }

        function drop(eid){
            $.ajax({
                url: "/equipment/drop",    //请求的url地址
                dataType:"text",   //返回格式为json
                async:true,//请求是否异步，默认为异步，这也是ajax重要特性
                data: {
                    "eid": eid
                },
                type:"POST",   //请求方式
                beforeSend:function(){
                    //请求前的处理
                },
                success:function(data){
                    //请求成功时处理
                    alert("删除成功")
                    window.location.reload()
                },
                complete:function(){
                    //请求完成的处理
                },
                error:function(){
                    //请求出错处理
                    alert('删除失败...')
                }
            });
        }

    </script>
{% endblock %}