{% extends 'base.html' %}

{% block content %}

<div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">设备列表</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="display: none;">id</th>
                                    <th>设备名称</th>
                                    <th>状态</th>
                                    <th>使用单位</th>
                                    <th>设备地址</th>
                                    <th>备注</th>
                                    <th>生产商</th>
                                    <th>型号</th>
                                    <th>安装时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                {% for equipment in equipments %}
                                    <tr>
                                        <td  style="display: none;">{{ equipment.id }}</td>
                                        <td>{{ equipment.name }}</td>
                                        <td>{{ equipment.status }}</td>
                                        <td>{{ equipment.use_department }}</td>
                                        <td>{{ equipment.location }}</td>
                                        <td>{{ equipment.remark }}</td>
                                        <td>{{ equipment.manufacturer }}</td>
                                        <td>{{ equipment.model }}</td>
                                        <td>{{ equipment.create_time }}</td>
                                        <td><a href="./show/{{ equipment.id }}">修改</a></td>
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div><!-- .animated -->

{% endblock %}